<nav>
<%=link_to "New list", new_list_path%>
<%=link_to "My lists", lists_path%>
</nav>
<div class="container">
  <ul class="row col-sm-8 col-sm-offset-2 mx-auto">
  <%@lists.each do |list|%>
    <li>
      <h2><%= link_to list.name, list_path(list) %></h2>
    </li>
  <%end%>
  </ul>
</div>
